</br>
</br>

<%= form_with model: @corsair, local: true do |form| %>

 <p>
   <%= form.label "Note ton prénom:" %><br>
   <%= form.text_field :first_name %>
 </p>
</br>
 <p>
   <%= form.label "Inscrit ton age:" %><br>
   <%= form.number_field :age %>
 </p>
 
 

 <p> Que préfères tu? kebab ou Hummus? </p>

	<%= form.radio_button :likeness, 'Kebab' %> Kebab
	<%= form.radio_button :likeness, 'Hummus' %> Hummus

 <p>
   <%= form.submit "send" %>
 </p>

<% end %>

