</br>
</br>

<!-- Index des Moussaillons -->
<h1>Voici tous les profiles des corsaires</h1>
<table>
  <tr>

    <th>Prénom - </th>
    </br>
    <th>- Age</th>
  </tr>
 
  <% @corsairs.each do |corsair| %> 
    <tr>
      <td><%= corsair.first_name %></td></br>


      <td><%= corsair.age %></td></br>

      <td><%= link_to "Afficher profil", corsair_path(corsair) %> - </td> 

      <td><%= link_to "Editer", edit_corsair_path(corsair) %> - </td></br>



      <td> - <%= link_to "Effacer", corsair_path(corsair),
              method: :delete,
              data: { confirm: 'Effacer ?' } %> </td></br>

    </tr>
  <% end %>
</table>

<p> <%= link_to('Créez un nouveau profile', new_corsair_path ) %> </p> 
