
</br>
</br>



<h2> <%= @corsair.first_name %> </h2>
<p>  Du coup, tu préfère: <%= @corsair.likeness %>
<p> Age : <%= @corsair.age %> ans </p>
<p> Retouche ton profil ici <%= link_to('change', edit_corsair_path) %> </p> 
<p> HOME <%= link_to('Acceuil', corsairs_path) %> </p> 
